<p>
  pay your own bills!, nowadays is cheap to pay for a simple website. currently i have no job and this site is hostend on a vps and serve two domain names.
</p>

<p>
  <img src="<%PUBLIC_URI%>/assets/QmXN5RT6YX4PcVKC7gWUhcamNowjjiTbNop7jfQMTXvUnf" title="adblock detected" />
</p>

<p>
  it disable scroll and put that annoying message.
</p>

<p>
  <img src="<%PUBLIC_URI%>/assets/QmXLreSkDzG97thTxG8KAXFkUj1DqJrePBkBy5hZUAWQWR" title="adblock detected" />
</p>

<p>
  but it goes away if you toggle the reader view.
</p>
