<blockquote>
  <p>
    Functions are the essence of all programming. In the early days of
    computer science they represented a naive dream. The idea was that
    we could reduce computation into these smaller and smaller bits of
    re-usable code. Given enough time, and a proper structure for
    libraries, eventually we would have written code required for all
    computational needs. No longer would people have to write their own
    functions, and programming would consist of an easy job of stitching
    together components.
  </p>
  <cite>&mdash; <a href="http://buildyourownlisp.com/chapter12_functions">chapter 12 functions</a>, build your own lisp</cite>
</blockquote>
