<p>
  <i>ipfs. to use or not to use, that's the question.</i>
</p>

<p>
  i been using this technology for a long time because it sounds great as they presents it to the world.
  but when you realy analize its characteristics point by point maybe is not that powerfull as they claim (at least not today).
</p>

<p>
  maybe tech people are familiarized with richard's <i>new internet</i> idea.
  but other people maybe can't understand what the internet must work in a different way.
  i remember the only and unique follower named bernice, but others have no clue how it works and mostly important why.
</p>

<h2>== the web of tomorrow needs ipfs today ==</h2>

<p>
  <i>today's web is inefficient and expensive.</i>
  yes, i have no arguments to deal with that premise.
  but if you explains that in order to realy have a peer-to-peer network serving the pieces of a large file you need to stay connected to the network and store the file in your own hardware (phone, laptop, etc) they maybe starts to ask questions.
  <i>people do not seed a fucking torrent file!</i> don's ask them for storage.
</p>

<p>
  <i>today's web can't preserve humanity's history</i>
  yes it does.
  <i>people likes to store even their naked photos on the cloud.</i>
  why they start to save it on their devices. mirroring, are you crazy?
</p>

<p>
  <i>today's web is centralized, limiting opportunity</i>
  even torrents need a <a href="https://en.wikipedia.org/wiki/BitTorrent_tracker">tracker</a>, ipfs call's it <i>bootstap nodes</i>.
  they have a feature called <a href="http://docs.ipfs.io/how-to/websites-on-ipfs/link-a-domain/#domain-name-service-dns">dnslink</a>, i was using as they describe it, but the resolution on its gateway is awful (as any distributed network), so i configure a gateway on a vps and guess what, it works better.
  but this feature needs dns resolution over the net that we are familiarized with.
  so, distributed is just an utopia.
</p>

<p>
  <i>today's web is addicted to the backbone</i>
  better if you have had memorize the <a href="https://docs.ipfs.io/concepts/content-addressing">content identifier</a> of the resource that you could need during a disaster or even when the apocalypse (put your favorite one here).
  and more important be sure that you <a href="https://docs.ipfs.io/how-to/pin-files">pin</a> it on your local node.
  and yes you need to check each pin in order to know its content because is a list of cid too. they are no aliases for pins (yet).
</p>

<h2>== how ipfs works ==</h2>

<p>
each point below it is outlining how <a href="https://en.wikipedia.org/wiki/BitTorrent">bit torrent</a> works.
</p>

<p>
  <i>your file, and all of the blocks within it, is given a unique fingerprint called cryptographic hash</i>
  exactly like bit torrent protocol.
</p>

<p>
  <i>ipfs removes duplications across the network</i>
  duplications only if your file is exact the same to an existing on the network.
  each piece (block) have the exact same length of bytes.
  so imagine that you are a video maker and your videos have an introduction.
  this introduction could be anywhere within the first minutes of it.
  the data deduplication that they "removes" are not in the side of the content, just the whole file.
  in other words is like you store your files only in one directory and put the name of its <a href="https://en.wikipedia.org/wiki/Hash_function">hash sum</a>.
</p>

<p>
  <i>each network node stores only content it is interested in</i>
  it is releated to pin feature.
  but imagine that you want to support the existence of this blog, you will need to pin whenever it change it's content (each post, each change of image, etc).
</p>

<p>
  <i>when you look up a file to view or download, you're asking the network to find nodes that are storing the content behind that file's hash</i>
  same as bit torrent.
  but again those nodes have to pin the content you willing to get.
</p>

<p>
  <i>you don't need to remember the hash, every file can be found by human-readable names (ipns)</i>
  not quite a human-readable but mutable.
  yes, you could use dnslink to makeit human-readable but it rely on the current internet.
  so, is not disaster proof.
  it's like you could remember a <a href="https://gitweb.torproject.org/torspec.git/tree/rend-spec-v3.txt">v3 onion address</a>.
</p>

<h2>== conclusion ==</h2>

<p>
  ipfs is a good idea but first you need to change people's mindset.
  we need to be responsible for our own information, not the institutions.
</p>

<p>
  we already have blockchain and bit torrent they only merge those and give to the world as a new idea.
</p>

<p>
  at the end this and all <a href="<%BUILD_URI%>">space.rabrux</a> resources are stored and served through this technology.
  and i been considered the idea of serve it directly from an nginx instance and mirror it through an onion service as well.
  and maybe go down and mount a gopher proxy.
</p>

<p>
  maybe we just need a <i>new new internet</i> or just use the current protocols and introduce it to the non-tech populace.
</p>
