<p>
  defaults cursor on debian operating system is <code>_</code>.
</p>

<p>
  i create two cursors, one for my default user and other for my root user.
</p>

<p>
  so. my normal user cursor is something like this:
  <code>PROMPT_COMMAND='echo -e "&#92;e[?16;0;112c"'</code>
  a simple white non-blink block.
</p>

<p>
  my root cursor is:
  <code>PROMPT_COMMAND='echo -e "&#92;e[?16;0;64c"'</code>
  a non-blink red cursor.
</p>

<p>
  if you want to build your own please check <a href="https://linuxgazette.net/137/anonymous.html">cursor appearance in the linux console</a>.
</p>
