<p>
  for some reason my vps was burning almost the entire ram. so. i stop ipfs service and voila! the ram usage downs to 1.3% instead of 80+%.
</p>

<p>
  i remove all that ipfs crap and configure each resourse under <a href="<%BUILD_URI%>">rabrux.space</a> and <a href="https://octoz.app">octoz.app</a> domain names only using nginx (after all this sites are serving only static files). the only problem is that i bought the last one to serve all my ipfs based applications (we need to repurpose it).
</p>
